<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Smoke test"   verbose="2" parallel="none" >

<listeners>
		<listener class-name="com.selenium.pageobject.ListenerCode" />
		<listener class-name="com.selenium.report.ExtentTestNGIReporterListener" />
	</listeners>
	
  <test  name="TestMutualLogin">
    <classes>
    
     <class name="com.selenium.pageobject_test.FixedDeposite_test"/>
    
      
    </classes>
  </test> <!-- TestSuit -->
  
   <test  name="TestYouLogin">
    <classes>
    
        <class name="com.selenium.pageobject_test.Calculator_Test"/>
    </classes>
  </test> <!-- TestSuit -->
</suite> <!-- Suite -->
